<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="fb1f8f8b-2670-43c7-a287-0c72cb706963" activeEnvironment="Default environment" name="CountryDetails" lastOpened="2017-01-07T07:32:45.483+05:30" resourceRoot="" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:savedRecentRuns>1</con:savedRecentRuns><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:reporting/><con:authRepository/><con:tags/></con:soapui-project>