<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="3b740024-fe39-4342-93d6-6f38e2e12a02" wsaVersion="NONE" name="countrySoap" type="wsdl" bindingName="{http://www.webserviceX.NET}countrySoap" soapVersion="1_1" anonymous="optional" definition="http://www.webservicex.com/country.asmx?wsdl" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="3b740024-fe39-4342-93d6-6f38e2e12a02fileName">countrySoap</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://www.webservicex.com/country.asmx</con:endpoint></con:endpoints></con:interface>