<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e3c132f2-ede1-4878-aa98-1c0300c5947d" name="CountryTestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="e3c132f2-ede1-4878-aa98-1c0300c5947dfileName">CountryTestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>